<%= form_with model: @club, local: true do |form| %>

  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@club.errors.count, "error") %> prohibited this
        club from being saved: 
      </h2>
      <ul>
        <% @club.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :pin %><br />
    <%= form.text_field :pin %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
