<%= form_with url: login_url, method: :post do |form| %>

  <!-- TODO: Fix errors so they actually display -->
  <% if @user.errors.any? %>
    <div id="error_explanations">
      <% @user.errors.full_messages.each do |msg| %>
        <p>msg</p>
      <% end %>
    </div>
  <% end %>

  <%= form.label :email %><br>
  <%= form.email_field :email %><br>

  <%= form.label :password %><br>
  <%= form.password_field :password %><br>

  <%= form.submit %>
<% end %>
<%= link_to 'Cancel', root_path %>
